{{- $email := promptStringOnce . "email" "What is your email?" -}}
{{- $git_username := promptStringOnce . "git_username" "What should your git username be?" -}}
{{- $os := promptChoiceOnce . "os" "Choose your os" (list "arch-linux" "ubuntu") "arch-linux" -}}
{{- $headless := promptBoolOnce . "headless" "Is your system headless?" true -}}

{{- $install_hyprland := and (not $headless)
  (promptBoolOnce . "install_hyprland" "Do you want to install hyprland and related things?" true)
-}}

{{- $install_ly := and (not $headless)
  (promptBoolOnce . "install_ly" "Do you want to install ly (display-manager)?" true)
-}}

{{- $install_kde_apps := and (not $headless)
  (promptBoolOnce . "install_kde_apps" "Do you want to install kde-apps?" true)
-}}

{{- $install_media_related_pkgs := and (not $headless)
  (promptBoolOnce . "install_media_related_pkgs" "Do you want to install media related packages?" true)
-}}

{{- $install_timeshift :=
  (promptBoolOnce . "install_timeshift" "Do you want to install timeshift and related packages?" true)
-}}

[data]
email = {{ $email | quote }}
git_username = {{ $git_username | quote }}
os = {{ $os | quote }}
headless = {{ $headless }}
install_hyprland = {{ $install_hyprland }}
install_ly = {{ $install_ly }}
install_kde_apps = {{ $install_kde_apps }}
install_media_related_pkgs = {{ $install_media_related_pkgs }}
install_timeshift = {{ $install_timeshift }}
