#!/bin/bash

# Define colors
GREEN='\033[0;32m'
BLUE='\033[0;34m'
BOLD='\033[1m'
RED='\033[0;31m'
NC='\033[0m'

install_yay_packages() {
  # The first argument is the Category Label
  local label="$1"
  # Shift moves arguments to the left, so $2 becomes $1, etc.
  shift
  # Now $@ contains only the package names
  local pkgs=("$@")

  if ! command -v yay >/dev/null 2>&1; then
    echo -e "${RED}error:${NC} yay not installed" >&2
    return 1
  fi

  if [ "${#pkgs[@]}" -eq 0 ]; then
    return 0
  fi

  echo -e "${BLUE}======================================${NC}"
  # Using the dynamic label here
  echo -e "${BOLD}Installing ${label}:${NC}"
  for pkg in "${pkgs[@]}"; do
    echo -e "  ${BLUE}->${NC} $pkg"
  done
  echo -e "${BLUE}======================================${NC}\n"

  yay -S --needed --noconfirm "${pkgs[@]}"

  echo -e "\n${GREEN}✓ ${label} installation finished.${NC}\n"
}

cli_pkgs=(
  kitty
  fastfetch
  starship
  bat
)

tui_pkgs=(
  yazi
  neovim
)

gui_pkgs=(
  visual-studio-code-bin
  google-chrome
)

hyprland_pkgs=(
  hyprland
  hyprlock
  ttf-0xproto-nerd
)

{{ if eq .os "arch-linux" -}}

install_yay_packages "CLI Tools" "${cli_pkgs[@]}"
install_yay_packages "TUI Applications" "${tui_pkgs[@]}"

{{ if not .headless -}}

install_yay_packages "GUI Applications" "${gui_pkgs[@]}"

{{- end }}

{{ if .install_hyprland -}}

install_yay_packages "Hyprland and related" "${hyprland_pkgs[@]}"

{{- end }}

{{ end -}}
