#!/bin/bash

# Define colors
GREEN='\033[0;32m'
BLUE='\033[0;34m'
BOLD='\033[1m'
RED='\033[0;31m'
NC='\033[0m'

install_yay_packages() {
  # The first argument is the Category Label
  local label="$1"
  # Shift moves arguments to the left, so $2 becomes $1, etc.
  shift
  # Now $@ contains only the package names
  local pkgs=("$@")

  if ! command -v yay >/dev/null 2>&1; then
    echo -e "${RED}error:${NC} yay not installed" >&2
    return 1
  fi

  if [ "${#pkgs[@]}" -eq 0 ]; then
    return 0
  fi

  echo -e "${BLUE}======================================${NC}"
  # Using the dynamic label here
  echo -e "${BOLD}Installing ${label}:${NC}"
  for pkg in "${pkgs[@]}"; do
    echo -e "  ${BLUE}->${NC} $pkg"
  done
  echo -e "${BLUE}======================================${NC}\n"

  yay -S --needed --noconfirm "${pkgs[@]}"

  echo -e "\n${GREEN}✓ ${label} installation finished.${NC}\n"
}

cli_pkgs=(
  kitty
  fastfetch
  starship

  git

  man-db
  man-pages

  less

  zoxide
  fd
  ripgrep

  bat

  7zip
  rar
  zip
  unzip

  rsync
  rclone

  translate-shell
)

tui_pkgs=(
  yazi
  neovim
  tmux
  tmuxinator
  bluetui
  fzf
  impala
  ncpamixer
  tree
{{- if .install_ly }}
  ly
{{- end }}
)

development_tools_pkgs=(
  docker
  docker-compose
  maven
  npm
  terraform 
)

gui_pkgs=(
  visual-studio-code-bin
  google-chrome
  bitwarden
  discord
  libreoffice-still
  thunderbird
  veracrypt 
)

font_pkgs=(
  ttf-0xproto-nerd
  ttf-jetbrains-mono-nerd
  noto-fonts-emoji
)

hyprland_pkgs=(
  hyprland
  hyprlock
  hyprshot

  rofi
  waybar
  wpaperd

  kitty
  dunst
  rose-pine-gtk-theme-full

  bluez
  bluez-utils

  brightnessctl

  pipewire
  pipewire-pulse

  wireplumber
)

kde_pkgs=(
  qt5ct
  qt6ct-kde
  archlinux-xdg-menu
  xdg-desktop-portal-hyprland
  dolphin
  ark
  okular
  kdialog
  kcalc
  keditfiletype
)

media_pkgs=(
  feishin-bin
  ffmpeg
  ffmpegthumbnailer
  tumbler 
  vlc
  vlc-plugins-all
)

timeshift_pkgs=(
  timeshift
  grub-btrfs
  timeshift-autosnap 
)

other_tools_pkgs=(
  # printer
{{ if not .headless -}}
  naps2
  system-config-printer
  cups

  selectdefaultapplication
{{- end }}
)

{{ if eq .os "arch-linux" -}}


install_yay_packages "CLI Tools" "${cli_pkgs[@]}"
install_yay_packages "TUI Applications" "${tui_pkgs[@]}"
install_yay_packages "Dev Tools" "${development_tools_pkgs[@]}"

{{ if not .headless -}}
install_yay_packages "GUI Applications" "${gui_pkgs[@]}"
{{- end }}

install_yay_packages "Fonts" "${font_pkgs[@]}"

{{ if .install_hyprland -}}
install_yay_packages "Hyprland and related" "${hyprland_pkgs[@]}"
{{- end }}

{{ if .install_kde_apps }}
install_yay_packages "KDE-Apps" "${kde_pkgs[@]}"
{{- end }}

{{ if .install_media_related_pkgs }}
install_yay_packages "Media related packages" "${media_pkgs[@]}"
{{- end }}

{{ if .install_timeshift }}
install_yay_packages "Timeshift and related packages" "${timeshift_pkgs[@]}"
{{- end }}

install_yay_packages "Other Tools" "${other_tools_pkgs[@]}"

{{ end -}}
