#!/bin/bash

source "{{ .chezmoi.sourceDir }}/lib/common.sh.tmpl"

{{ if and (eq .os "debian") .install_kde_apps -}}

print_section "Installing KDE Packages (Debian)"

install_apt_packages "KDE-Apps" {{ range .pkgs_kde }}{{ . | quote }} {{ end }}

print_success "KDE packages installed"

{{ end -}}
