#!/bin/bash

source "{{ .chezmoi.sourceDir }}/lib/common.sh.tmpl"

{{ if or (eq .os "arch-linux") (eq .os "debian") -}}

{{- if and (eq .os "arch-linux") .install_ly }}
print_section "ly (display-manager)"

sudo systemctl enable ly@tty2.service

print_success "ly (display-manager) configured"
{{- end }}

{{ if .install_kde_apps }}
print_section "kde file associations"

sudo update-desktop-database
kbuildsycoca6 --noincremental

print_success "kde file associations configured"
{{- end }}

print_section "docker"

if ! getent group docker >/dev/null; then
  sudo groupadd docker
  print_info "Created docker group."
else
  print_info "Docker group already exists."
fi

add_user_to_group "$USER" docker

sudo systemctl enable --now docker

print_success "docker configured"

{{ if eq .os "arch-linux" -}}
print_section "openrazer-daemon"

sudo gpasswd -a "$USER" openrazer

print_success "openrazer-daemon configured"
{{- end }}

print_section "bluetooth"

sudo systemctl enable --now bluetooth

print_success "bluetooth configured"

print_section "SSH Agent (systemd user service)"

systemctl --user daemon-reload
systemctl --user enable ssh-agent.service
systemctl --user start ssh-agent.service

print_success "SSH Agent configured"

print_section "Syncthing"

systemctl --user daemon-reload
systemctl --user enable --now syncthing.service

print_success "Syncthing configured"
{{- if and (eq .os "arch-linux") .install_timeshift }}
print_section "grub-btrfsd & timeshift-autosnap"

sudo /etc/grub.d/41_snapshots-btrfs

unit_path=$(systemctl show -p FragmentPath grub-btrfsd | cut -d= -f2)
if [ -z "$unit_path" ]; then
  die "Could not find unit path for grub-btrfsd."
fi

sudo sed -i 's|^ExecStart=.*|ExecStart=/usr/bin/grub-btrfsd --syslog --timeshift-auto|' "$unit_path"
sudo systemctl daemon-reload
sudo systemctl enable --now grub-btrfsd

print_success "grub-btrfsd & timeshift-autosnap configured"
{{- end }}

{{- end }}
