#!/bin/bash

# Define colors
GREEN='\033[0;32m'
BLUE='\033[0;34m'
BOLD='\033[1m'
RED='\033[0;31m'
NC='\033[0m'

{{ if eq .os "arch-linux" -}}

echo -e "${BLUE}======================================${NC}"
echo -e "${BOLD}Configuring Syncthing:${NC}"
echo -e "${BLUE}======================================${NC}\n"

# Enable and start syncthing user service
systemctl --user enable syncthing.service
systemctl --user start syncthing.service

echo -e "${GREEN}✓ Syncthing service enabled and started.${NC}\n"

{{ end -}}
