#!/bin/bash

source "{{ .chezmoi.sourceDir }}/lib/common.sh.tmpl"

echo -e "${GREEN}OS:${NC} {{ .os }}"

if ! confirm "Do you want to continue?"; then
    print_error "Installation aborted by user."
    exit 1
fi

echo -e "${GREEN}Proceeding...${NC}"
