#!/bin/bash

source "{{ .chezmoi.sourceDir }}/lib/common.sh.tmpl"

{{ if and (eq .os "debian") .install_media_related_pkgs -}}

print_section "Installing Media Packages (Debian)"

install_apt_packages "Media related packages" {{ range .pkgs_media }}{{ . | quote }} {{ end }}

print_success "Media packages installed"

{{ end -}}
